<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="../style/page.css">

    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" 
    integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" 
    crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


     <!--configuração title-->   
     <title>AUDITH</title>
     <link rel="icon" type="./image/png" href="../image/logo.png" />

</head>

<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <img class="navbar-brand" style ='max-height: 80px' src="../image/deaf2.png" alt="logo">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto me-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active labels-nav" aria-current="page" href="home.html">
                                <i class="fas fa-home" title="Inicio"></i>
                                Inicio
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link labels-nav" href="formulario_libras.html">
                                <i class="fas fa-users" title="Cadastrar-se"></i>
                                Cadastro aulas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link labels-nav" href="aulas.html">
                                <i class="fas fa-users" title="Cadastrar-se"></i>
                                Aulas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link labels-nav" href="formulario_ongs.html">
                                <i class="fas fa-users" title="Cadastrar-se"></i>
                                Cadastro ONGs
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link labels-nav" href="ongs.html">
                                <i class="fas fa-users" title="Cadastrar-se"></i>
                                ONGs
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link labels-nav" href="libras.html">
                                <i class="fas fa-atlas" title="Traduzir"></i>
                                Traduzir
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link labels-nav" href="sobre.html">
                                <i class="fas fa-sign-language" title="Sobre"></i>
                                Sobre
                            </a>
                        </li>
                    </ul>
                    <div class="d-flex align-items-center">
                        <i class="fas fa-user"></i> 
                        <span id="user"></span>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="scopo-conteudo-corpo">
        
            <br>
            <h1>Dificuldade de surdos e mudos na comunicação diária</h1>
            <hr><br>
            <br><br>

            <div class="container-fluid">
                <div class="scopo-conteudo-text">
                    <hr style="margin-left:37%" width="25%" size="8">
                </div>
                <div class="text-para-direita bloco-info-container"> 
                    <div class="row">
                        <div class="col-md-6 col-lg-8 col-xl-8 col-sm-12">
                            <h2 ><a href="https://rodrigomagnorm.jusbrasil.com.br/artigos/1176514129/as-dificuldades-da-pessoa-surda-na-sociedade-brasileira#:~:text=A%20principal%20dificuldade%20dos%20surdos,acesso%20%C3%A0%20uma%20boa%20educa%C3%A7%C3%A3o." target="_blank">
                                <i class="fas fa-link"></i></a>Qual a dificuldade dos deficientes auditivos</h2>
                            <h5 style="position:relative">A principal dificuldade dos surdos é a 
                                comunicação, sendo ela crucial para o desenvolvimento humano como 
                                ser social e intelectual, a pessoa com surdez sofre devido a problemas na 
                                comunicação, não conseguindo ao menos acesso à uma boa educação. </h5>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-4 col-sm-12" >
                            <img class="img-info img-fluid img-thumbnail" src="../image/problem.png">
                        </div>
                        
                    </div>
                </div>
                <br>
                <div class="text-para-esquerda bloco-info-container">
                    <div class="row " >
                        <div class="col-md-6 col-lg-4 col-xl-4 col-sm-12">
                            <img class="img-info img-fluid img-thumbnail" src="../image/problem2.jpg">
                        </div>
                        <div class="col-md-6 col-lg-8 col-xl-8 col-sm-12" style="position:relative">
                            <h2><a href="https://rodrigomagnorm.jusbrasil.com.br/artigos/1176514129/as-dificuldades-da-pessoa-surda-na-sociedade-brasileira#:~:text=A%20principal%20dificuldade%20dos%20surdos,acesso%20%C3%A0%20uma%20boa%20educa%C3%A7%C3%A3o." target="_blank">
                                <i class="fas fa-link"></i></a>E a aprendizagem?</h2>
                            <h5 >O Brasil levou muitos anos para elaborar uma lei forte que tratasse não 
                                apenas da deficiência auditiva como todas de maneira geral, visto que há 
                                grande necessidade destes que seus direitos estejam previamente garantidos. 
                                Apesar da demora e com todo o histórico difícil que as pessoas com deficiência
                                 têm, no ano de 2015 houve a criação da Lei Brasileira de Inclusão da Pessoa 
                                 com Deficiência (LBI), também conhecida como Estatuto da Pessoa com Deficiência.</h5>
                        </div>
                        
                    </div>
                </div>
            </div>

            <br><br>

            <div class="container-fluid">
                <div class="scopo-conteudo-text">
                    <h2>Conclusão</h2>
                    <hr style="margin-left:37%" width="25%" size="8">
                </div>
                <div class="text-para-direita bloco-sobre-container"> 
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12">
                                    <h5 style="position:relative">
                                        Conclui-se que o direito à vida deve ser resguardado e mantido de qualquer forma, visto que é o Direito mais valioso que qualquer Ser tem desde o nascimento. É a partir deste Direito que o cidadão exerce a cidadania como um ser social, é com ele que é possível ser um ser humano e viver dentro de uma sociedade.
                                    </h5>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12" >
                                    <h5 >
                                        Na constituição federal, o direito à vida está disposto no Art. 5º, e transmite em seu texto que é dever tanto do estado, quanto da população, em garantir e ser responsável por esse tema, além de ser interferida por outros códigos indiretamente como, por exemplo o estatuto do deficiente de 2015.
                                    </h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12">
                                    <h5 style="position:relative">
                                        No tocante a pessoa com surdez, é valido ressaltar que para que ela seja uma pessoa é preciso que esteja viva, e que estando viva possa conviver numa sociedade inclusiva e que a entenda como um ser humano. É importante não só o direito a vida, mas também a Dignidade da Pessoa Humana e que esta tenha o Mínimo Humano.
                                        <a href="https://rodrigomagnorm.jusbrasil.com.br/artigos/1176514129/as-dificuldades-da-pessoa-surda-na-sociedade-brasileira#:~:text=A%20principal%20dificuldade%20dos%20surdos,acesso%20%C3%A0%20uma%20boa%20educa%C3%A7%C3%A3o." target="_blank">
                                            <i class="fas fa-link"></i>
                                        </a>
                                    </h5>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12" >
                                    <h5 >
                                        Por ser um tema antigo e recente ao mesmo tempo e presente na sociedade, este trabalho traz um valor social pelo fato de tratar e explicar a importância das políticas públicas e leis para fazer com que as pessoas possam ser incluídas em sociedade. O Brasil ainda está longe de alcançar tal façanha, é necessário que o Estado estimule a curiosidade, que promova palestras, oficinas e cursos gratuitos da Língua para a população visando a multiplicação de pessoas que conhecem a história e a LÍBRAS, facilitando a comunicação entre surdos e ouvintes e que a comunidade surda possa gozar de seus direitos e deveres como qualquer outro cidadão.
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
                            <img class="img-info img-fluid img-thumbnail img-info-conclusão" src="../image/kids.png">
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </main>

    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
      new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
    <!-- Rodapé -->
    <footer class="footer1">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <p class="textorodape">© 2022 Copyright: <b>AUDITH COMPANY</b>
            </p>
        </div>
    </footer>

  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/global.js"></script>
</body>

</html>










